<!-- Toolbar -->
<div class="toolbar" role="banner">
    <div class="spacer"></div>
    <span>NHS Internal Training Management System</span>
    <div class="spacer"></div>
    
  </div>
  
  <div class="content" role="main">
  
    <!-- Highlight Card -->
    <div class="card  card-small">
  
     
  
      <span>Sign In</span>
  
  
  
    </div>
<div class="container">
    <div class="row">
      <div class="col">
    
      </div>
      <div class="col-6">
<!-- Default form login -->
<form class="text-center border border-light p-5"  #userLogin="ngForm" (ngSubmit)="onClickSubmit()">


  
    <!-- Email -->
    <input type="email" id="defaultLoginFormEmail" name="Email" [(ngModel)]="declared.Email" class="form-control mb-4" placeholder="E-mail">
  
    <!-- Password -->
    <input type="password" id="defaultLoginFormPassword"name="Password" [(ngModel)]="declared.Password" class="form-control mb-4" placeholder="Password">
  
    <div class="d-flex justify-content-around">
      <div>
        <!-- Remember me -->
        <mdb-checkbox [default]="true">Remember me</mdb-checkbox>
      </div>
      <div>
        <!-- Forgot password -->
        <a  (click)="fpassword()">Forgot password?</a>
      </div>
    </div>
  
    <!-- Sign in button -->
    <button mdbBtn color="info" block="true" class="my-4" type="submit">Sign in</button>
  
    
  
    <!-- Social login -->
    <p>or sign in with:</p>
  
    <a type="button" class="light-blue-text mx-2">
      <mdb-icon fab icon="facebook"></mdb-icon>
    </a>
    <a type="button" class="light-blue-text mx-2">
      <mdb-icon fab icon="twitter"></mdb-icon>
    </a>
    <a type="button" class="light-blue-text mx-2">
      <mdb-icon fab icon="linkedin"></mdb-icon>
    </a>
    <a type="button" class="light-blue-text mx-2">
      <mdb-icon fab icon="github"></mdb-icon>
    </a>
  
  </form>
  <!-- Default form login -->
</div>
<div class="col">

</div>
</div>

</div>