<!-- Toolbar -->
<div class="toolbar" role="banner">
    &nbsp;<a style="color: white;"  (click)="home()">Home</a>
    <div class="spacer"></div>
    <span>NHS Internal Training Management System</span>
    <div class="spacer"></div>
    <a style="color: white;"  (click)="sign()">LogOut</a>&nbsp;
    
  </div>
  
  <div class="content" role="main">
  
    <!-- Highlight Card -->
    <div class="card  card-small">
  
     
  
      <span>{{sessionValue}}</span>
  
  
  
    </div>
<div class="container">
    <div class="row justify-content-md-center">
      <div class="col col-md-2">
    
      </div>
      <div class="col-12 col-md-8">
          
        <div class="card-container">
            <a class="card"   (click)="due()"  rel="noopener" >
             
              <span>Due Courses</span>
        
              <svg class="material-icons"  width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>    </a>
        
            <a class="card"   (click)="add()" rel="noopener" >
             
              <span>Add </span>
        
              <svg class="material-icons"  width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
            </a>
        
            <a class="card"  (click)="update()" style="background-color: rgb(98, 98, 99);color: white;" rel="noopener" >
             
              <span>Update Data</span>
        
              <svg class="material-icons"  width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
            </a>
        
          </div>
      </div>
      <div class="col col-md-2">
        
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        
      </div>
      <div class="col-md-8">
          <!-- Default form login -->
<form class="text-center border border-light p-5"  #userLogin="ngForm" (ngSubmit)="onClickSubmit()">

<h5>Employee Details</h5>
  <!-- Employee Number-->
  <input type="text" id="defaultLoginFormName" name="EmployeeNumber" [(ngModel)]="declared.EmployeeNumber" class="form-control mb-4" placeholder="Employee number">
       

  <h6>Training Results</h6>
    <!-- Course -->
    <input type="text" id="defaultLoginFormCourse" name="Course" [(ngModel)]="declared.Course" class="form-control mb-4" placeholder="Course/ Training">
      <!-- Mark -->
      <input type="text" id="defaultLoginMark" name="PassMark" [(ngModel)]="declared.PassMark" class="form-control mb-4" placeholder="Pass/Fail">
      <!-- Date Of Exam -->
      <input type="date" id="defaultLoginFormDO" name="DateOfExam" [(ngModel)]="declared.DateOfExam" class="form-control mb-4" placeholder="Date of exam">
  
    <!-- Due for Exam -->
    <input type="date" id="defaultLoginFormDOE"name="DueForExam" [(ngModel)]="declared.DueForExam" class="form-control mb-4" placeholder="Due for date">
  
  
    <!-- Sign in button -->
    <button mdbBtn color="info" block="true" class="my-4" type="submit">Update Data</button>
  
  
  </form>
  <!-- Default form login -->
      </div>
      <div class=" col-md-2">
     
      </div>
    </div>
  </div>